@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using Payments_system.ViewModels;
@model UserPaymentsViewModel
@addTagHelper "*, Payments_system"
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Welcome,  @{string surname = JsonConvert.DeserializeObject<User>(Context.Session.GetString("user")).Surname;
                @surname}</h2><br>
<h3>All accounts:</h3>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Goal: </label>
        @Html.TextBox("goal", Model.FilterViewModel.SelectedGoal, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Payment id: </label>
        @Html.TextBox("payment", Model.FilterViewModel.SelectedPayment,
                htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Account id: </label>
        @Html.TextBox("account", Model.FilterViewModel.SelectedAccount, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Date: </label>
        @Html.TextBox("date", Model.FilterViewModel.SelectedDate, htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>
<table id="myTable2" class="table table-bordered">
    <thead>
        <tr>
            <th>
                <a asp-action="Main"
                   asp-route-sortOrder="@(Model.SortViewModel.PaymentIdSort)"
                   asp-route-goal="@(Model.FilterViewModel.SelectedGoal)"
                   asp-route-account="@(Model.FilterViewModel.SelectedAccount)"
                   asp-route-payment =" @(Model.FilterViewModel.SelectedPayment)"
                   asp-route-date="@(Model.FilterViewModel.SelectedDate)">Payment Id</a>
            </th>
            <th>
                <a asp-action="Main"
                   asp-route-sortOrder="@(Model.SortViewModel.AccIdSort)"
                   asp-route-goal="@(Model.FilterViewModel.SelectedGoal)"
                   asp-route-account="@(Model.FilterViewModel.SelectedAccount)"
                   asp-route-payment=" @(Model.FilterViewModel.SelectedPayment)"
                   asp-route-date="@(Model.FilterViewModel.SelectedDate)">Account Id</a>
            </th>
            <th data-type="date" ><a onclick="sortTable(2)">Date</a></th>
            <th>
                <a asp-action="Main"
                   asp-route-sortOrder="@(Model.SortViewModel.AmountSort)"
                   asp-route-goal="@(Model.FilterViewModel.SelectedGoal)"
                   asp-route-account="@(Model.FilterViewModel.SelectedAccount)"
                   asp-route-payment=" @(Model.FilterViewModel.SelectedPayment)"
                   asp-route-date="@(Model.FilterViewModel.SelectedDate)">Amount</a>
            </th>
            <th>
                <a asp-action="Main"
                   asp-route-sortOrder="@(Model.SortViewModel.GoalSort)"
                   asp-route-goal="@(Model.FilterViewModel.SelectedGoal)"
                   asp-route-account="@(Model.FilterViewModel.SelectedAccount)"
                   asp-route-payment=" @(Model.FilterViewModel.SelectedPayment)"
                   asp-route-date="@(Model.FilterViewModel.SelectedDate)">Goal</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Payments)
        {
            <tr>
                <td>@item.PaymentId</td>
                <td>@item.AccountId</td>
                <td>@item.Date</td>
                <td>@item.Amount</td>
                <td>@item.Goal.GoalName</td>
            </tr>
        }
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Main"></page-link>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Main"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
        asp-route-goal="@(Model.FilterViewModel.SelectedGoal)"
        asp-route-account="@(Model.FilterViewModel.SelectedAccount)"
        asp-route-payment=" @(Model.FilterViewModel.SelectedPayment)"
        asp-route-date="@(Model.FilterViewModel.SelectedDate)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Main"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
      asp-route-goal="@(Model.FilterViewModel.SelectedGoal)"
        asp-route-account="@(Model.FilterViewModel.SelectedAccount)"
        asp-route-payment=" @(Model.FilterViewModel.SelectedPayment)"
        asp-route-date="@(Model.FilterViewModel.SelectedDate)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}