
@{
    ViewData["Title"] = "Replenish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Replenish</h2>
<form asp-controller="Accounts" asp-action="Replenish" method="post">
    <label>Choose account for replenish: </label>
    <select class="form-control" name="account">
        @foreach (var item in ViewBag.Accounts)
        {
            <option value="@item.AccountId">@item.AccountId</option>
        }
    </select><br>
    <label>Choose card for replenish: </label>
    <select class="form-control" name="card">
        @foreach (var item in ViewBag.Cards)
        {
            <option value="@item.CardId">@item.CardId</option>
        }
    </select><br>
    <label>Amount for replenish: </label>
    <input type="number" class="form-control" name="amount" /><br>
    <input type="submit" class="btn btn-success" value="Replenish" />
</form>
<h3>All your accounts:</h3>
<table class="table table-bordered">
    <tr>
        <th>Id of account</th>
        <th>Id of card</th>
        <th>Balance</th>
        <th>Blocked</th>
    </tr>
    @foreach (var item in ViewBag.Accounts)
            {
        <tr>
            <td>@item.AccountId</td>
            <td>@item.CardId</td>
            <td>@item.Balance</td>
            <td>@item.IsBlocked</td>
        </tr>
    }
</table>
<h3>All your cards:</h3>
<table class="table table-bordered">
    <tr>
        <th>Id of card</th>
        <th>Balance</th>
    </tr>
    @foreach (var item in ViewBag.Cards)
            {
        <tr>
            <td>@item.CardId</td>
            <td>@item.Balance</td>
        </tr>
    }
</table>

